doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
    <!--<![endif]-->
    head
        meta(charset='utf-8')
        <!--[if IE]><!-->
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        <!--[endif]-->
        title Terms of Service
        meta(name='description', content='')
        link(rel='stylesheet', href='http://css.agiletoolkit.org/css/style-fixed.css')
    body
        include variables
        include browsehappy
        div.atk-layout
            div.atk-layout-row
                div.atk-layout-cell.atk-swatch-ink
                    div.atk-wrapper.atk-section-small
                        h1.atk-align-center Terms of Service
            div.atk-layout-row.atk-layout-fluid
                div.atk-layout.atk-layout-cell
                    div.atk-layout-column.atk-layout-fluid
                        div.atk-section.atk-swatch-yellow.atk-align-center
                            div.atk-wrapper
                                p
                                    | As a consultant who earns his salary as a freelancer, I dedicate my
                                    | time helping companies and individual like yourself on a part-time
                                    | basis. I deliver service of exceptional quality at affordable price,
                                    | but I need you to accept and respect my Terms of Service as outlined below.
                                p
                                    | If you enjoy working with me, pass a word around and refer my services to others.
                        div.atk-section-large.atk-swatch-white
                            div.atk-wrapper
                                h2 General Conditions
                                ol
                                    li I provide my own equipment, office rent, network connection and pay for my travel expenses.
                                    li There are so many different things I can do: <b>#{skills}</b>. If you want me to instead help me with your computer - I can do that too, although it will be billed under the same rate - <span class="atk-label atk-swatch-yellow">#{rate}</span>.
                                    li I do not take equity, profits or other benefits as a payment. It's all cash. I am also not responsible for the success of your business and any profits / losses are entirely yours.
                                    li Any hours I spend are final. I can't refund or offer warranties etc. This would require me to charge extra for risks, but I want my payment scheme to be transparent and easy to understand.
                                    li If I start a new project, it will be much better quality than if I fix / change your existing project. If I have to work with 3rd party code - it's more time consuming and more difficult to estimate.
                                    li I rely on some advanced technology to complete my work - If you want someone junior to take over my work, they will require a lot of general training.

                                h2 Payment Terms
                                ol
                                    li I have to allocate my time between multiple clients, and will work at different times. I do keep very firm track of my work hours. If you need me to be available within some time interval, this must be agreed in advance.
                                    li I will try to respect your time allocation requirements (e.g. spend 10h maximum) and try and follow estimates as close as possible, however I always use "actual" hours for billing.
                                    li My time is always backed by Evidence: Time Tracer logs, Chat logs, Email dates, Repository history or calendar meetings.
                                    li I charge for any project-related meeting, discussion and emails (including work on estimates). I do not charge for chit-chat, administrative stuff (invoices) or general discussions, but please do respect my time.
                                    li You can pre-pay my hours before I start work or pay after hours are delivered. I cannot offer more than <span class="atk-label atk-swatch-yellow">#{hour_limit}</span> hours on credit. Once I run out of #{hour_limit} hours, I'll issue invoice immediately with a #{terms}-day payment term. 
                                    li Invoices must be paid on time, otherwise I may have to prioritize other clients. I may not be able to respond to emergency tasks, meeting, consultations or prepare while your bill is not paid.
                                    li If I fail to issue invoice on-time that's my own fault. I would appreciate if you do send payment immediatelly. If necessary - set some money aside if in anticipation of my invoice.
                                    li On some occasions - assuming we mutually agreed - I can pay a 3rd party supplier. I will include the amount in my next invoice. This is not counted towards my hours.

                        div.atk-section.atk-swatch-red.atk-align-center.atk-size-mega
                            div.atk-wrapper
                                p
                                    | Unfortunatelly I cannot provide extended payment terms. I am a simple freelancer and payment delays will affect my rent and bill payments.
            div.atk-layout-row.atk-swatch-gray
                div.atk-layout-cell
                    div.atk-wrapper.atk-section-small.atk-cells
                        .atk-cell.atk-jackscrew 
                            a(href="#{homepage}")
                                i.icon-home
                                | #{name}
                        .atk-cell.atk-text-nowrap
                            a(href="#{github}")
                                i.icon-github
                                | Fork this page

